<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         executionOrder="depends,defects"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Repository">
            <directory>tests/repository</directory>
        </testsuite>
        <testsuite name="Services">
            <directory>tests/services</directory>
        </testsuite>
        <testsuite name="Middleware">
            <directory>tests/middleware</directory>
        </testsuite>
        <testsuite name="Controller">
            <directory>tests/controller</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_NAME" value="securebounty_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value="qwerqwer"/>
        <env name="APP_ENV" value="testing"/>
    </php>
    <source>
        <include>
            <directory>controller</directory>
            <directory>model</directory>
            <directory>middleware</directory>
        </include>
    </source>
</phpunit>
